# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.log
*.obj
*.pdb
*.ilk
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Shapes/x64/Debug/Shapes.tlog
/.vs
