# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.tlog
*.log
*.obj
*.iobj
*.idp
*.pdb
*.lastbuildstate
*.ilk
*.ipch
*.suo
*.user

# Precompiled Headers
*.gch
*.pch
*.ipdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
/.vs